@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to your Basketball Roster</h1>
    <p class="lead"></p>
    <p>Learn more</p>
</div>
<div>
	@Html.ActionLink("Games", "Index", "Home")
</div>